<html>
<head>
    <title>教学管理系统 - 管理员端</title>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!-- APP WRAPPER -->
<div class="app">
    <!-- START APP CONTAINER -->
    <div class="app-container">
        <!-- START SIDEBAR -->
        <div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left"
             data-type="close-other">
            <a class="app-navigation-logo">
                Boooya - Revolution Admin Template
            </a>
            <nav>
                <ul>
                    <li class="title">
                        Function
                    </li>
                    <li>
                        <a href={{ url_for("adminaddusers") }}>
                            添加用户
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminresetpassword") }}>
                            重置用户密码
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("admindeleteuser") }}>
                            删除用户
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminpinboard") }}>
                            留言板
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminjournal") }}>
                            添加网站更新日志
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminseejournal") }}>
                            查看更新日志
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminaddcourse") }}>
                            添加课程
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminusertocourse") }}>
                            添加学生到课程
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminsavedatabase") }}>
                            备份数据库
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("adminoutputexl") }}>
                            导出数据库
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- END SIDEBAR -->
        <!-- START APP CONTENT -->
        <div class="app-content app-sidebar-left">
            <!-- START APP HEADER -->
            <div class="app-header app-header-design-default">
                <ul class="app-header-buttons">
                    <li class="visible-mobile">
                        <a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left">
									<span class="icon-menu">
									</span>
                        </a>
                    </li>
                    <li class="hidden-mobile">
                        <a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left">
									<span class="icon-menu">
									</span>
                        </a>
                    </li>
                </ul>
                <ul class="app-header-buttons pull-right">
                    <li>
                        <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls hidden-xs">
                            <img src="../static/assets/images/users/user_3.jpg" alt="John Doe">
                            <div class="contact-container">
                                Administrator
                                <span>
                                    {{ message.get('name') }}
                                </span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href={{ url_for("logout") }} class="btn btn-default btn-icon">
                        <span class="icon-power-switch">
									</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END APP HEADER -->
            <!-- START PAGE HEADING -->
            {% block content %}{% endblock %}
            <!-- END APP CONTAINER -->
            <!-- START APP SIDEPANEL -->
        </div>
    </div>

</div>
<!-- END APP WRAPPER -->


<div class="modal fade" id="modal-thanks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="icon-cross">
					</span>
        </button>
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-center margin-bottom-20">
                    <img src="../static/assets/images/smile.png" alt="Thank you" style="width: 100px">
                </p>
                <h3 id="modal-thanks-heading"
                    class="text-uppercase text-bold text-lg heading-line-below heading-line-below-short text-center">
                </h3>
                <p class="text-muted text-center margin-bottom-10">
                    Thank you so much for likes
                </p>
                <p class="text-muted text-center">
                    We will do our best to make
                    <br>
                    Boooya template perfect
                </p>
                <p class="text-center">
                    <button class="btn btn-success btn-clean" data-dismiss="modal">
                        Continue
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- IMPORTANT SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/jquery/jquery.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-migrate.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-ui.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/bootstrap/bootstrap.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/moment/moment.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js">
</script>
<!-- END IMPORTANT SCRIPTS -->
<!-- THIS PAGE SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jvectormap/jquery-jvectormap.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js">
</script>
<script type="text/javascript" src="../static/js/vendor/rickshaw/d3.v3.js">
</script>
<script type="text/javascript" src="../static/js/vendor/rickshaw/rickshaw.min.js">
</script>
<!-- END THIS PAGE SCRIPTS -->
<!-- APP SCRIPTS -->

<!-- END IMPORTANT SCRIPTS --><!-- APP SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/multiselect/jquery.multi-select.js"></script>
<script type="text/javascript" src="../static/js/app.js"></script>
<script type="text/javascript" src="../static/js/app_plugins.js"></script>
<script type="text/javascript" src="../static/js/app_demo.js"></script>
<script type="text/javascript" src="../static/js/vendor/bootstrap-select/bootstrap-select.js"></script>
<script type="text/javascript" src="../static/js/vendor/select2/select2.full.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../static/js/vendor/bootstrap-daterange/daterangepicker.js"></script>
<!-- END APP SCRIPTS -->
<script type="text/javascript" src="../static/js/app_demo_dashboard.js"></script>
<script type="text/javascript">
    $(function () {
        $(".block-refresh-example").on("click",
            function () {
                var block = $(this).data("block");
                app.block.loading.start("#" + block);
                setTimeout(function () {
                        app.block.loading.finish("#" + block);
                    },
                    3000);
            });
    });
</script>
</body>
</html>