{% extends "admin_base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md"><!-- MESSAGE -->
                {% if message.get('messages')[0] == 1 %}
                    <div class="contact-container">{{ message.get('messages')[1] }}</div>
                {% else %}
                    {% for msg in message.get('messages') %}
                        <div class="block block-condensed block-highlight-hover">
                            <div class="app-heading app-heading-small margin-bottom-0">
                                <div class="title">
                                    <div class="contact contact-rounded contact-bordered contact-lg margin-bottom-0">
                                        <img src="../static/assets/images/users/user_1.jpg" alt="">
                                        <div class="contact-container"><span>{{ msg[3] }}</span></div>
                                    </div>
                                </div>
                                <a class="heading-elements"
                                   href={{ url_for("deletemessages",text=msg[0]) }}><span
                                        class="icon-cross-circle"></span> Delete Message</a>
                            </div>
                            <p></p>
                            <div class="block-content"><p>{{ msg[0] }}</p></div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}