{% extends "teacher_base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md"><!-- DEFAULT DROPZONE -->
                <div class="block">
                    <div class="app-heading app-heading-small">
                        <div class="title"><h2>上传学生信息</h2>
                            <p>Upload Student Info{% if message.get('messages') %}
                                <code>{{ message.get('messages') }}</code>
                            {% endif %}</p></div>
                    </div>
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group"><label class="col-md-2 control-label">用户备份密码</label>
                            <div class="col-md-10"><input type="password" class="form-control" name="password"></div>
                        </div>
                        <p></p>
                        <input type="file" name="file" placeholder="Upload file" class="dropzone">
                        <div class="form-group margin-top-20">
                            <button class="btn btn-default" type="submit">确认上传</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}