<!DOCTYPE html>
<html lang="en">
<head><title>Boooya - The Best Online Learning Website</title><!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1"><!-- END META SECTION --><!-- CSS INCLUDE -->
    <link rel="stylesheet" href="../static/css/landing.css"><!-- EOF CSS INCLUDE --></head>
<body><!-- APP WRAPPER -->
<div class="app">
    <header id="header" style="background-image: url('../static/assets/images/landing/header_background.jpg')">
        <div class="header">
            <div class="container"><a href="#" class="logo"></a>
                <button class="navigation-toggle"><span class="icon-menu"></span></button>
                <ul class="navigation hidden-mobile">
                    <li><a href="#header">Home</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#pricing">Pricing</a></li>
                    <li><a href={{ url_for("login") }}>登录账户</a></li>
                </ul>
            </div>
        </div>
        <div class="header-content">
            <div class="container text-center invert"><h1>Boooya &mdash; Best Online Learning Website</h1>
                <div class="under-heading">Exchange valuable things for priceless treasures</div>
                <div class="image-container"><img src="../static/assets/images/landing/presentation.png"
                                                  alt="Boooya - Revolution Admin Template"></div>
            </div>
        </div>
    </header>
    <section class="section invert section-condensed">
        <div class="container text-center"><a href="index.html"
                                              class="btn btn-info btn-shadowed btn-lg btn-icon-fixed margin-right-10"><span
                class="icon-rocket"></span> Live preview</a> <a href="#"
                                                                class="btn btn-danger btn-shadowed btn-lg btn-icon-fixed"><span
                class="icon-cart"></span> Buy for only $24</a></div>
    </section>
    <section class="section" id="features">
        <div class="container">
            <div class="heading-wrapper text-center">
                <div class="above-heading">Why choose Boooya?</div>
                <h3 class="text-uppercase">The first solution that works for you</h3>
                <div class="under-heading">Here is a list of our awesome features</div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="feature text-center"><h6 class="text-uppercase text-bolder">120+ pages included</h6>
                        <div class="under-heading">Powered by the best features</div>
                        <p>All pages include unique features. This will help you make the application of any
                            complexity.</p></div>
                </div>
                <div class="col-md-3">
                    <div class="feature text-center"><h6 class="text-uppercase text-bolder">Unlimited possibilities</h6>
                        <div class="under-heading">A well-designed platform</div>
                        <p>Our unique, clean and smooth design allows you to use all the components where you want.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="feature text-center"><h6 class="text-uppercase text-bolder">100% Responsive</h6>
                        <div class="under-heading">We think about devices</div>
                        <p>It means that you can easily build your web application and be sure that it will work well on
                            all devices.</p></div>
                </div>
                <div class="col-md-3">
                    <div class="feature text-center"><h6 class="text-uppercase text-bolder">400+ Features</h6>
                        <div class="under-heading">JS plugins and unique features</div>
                        <p>We include most popular plugins and unique Boooya template plugins that was developer special
                            for template.</p></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-highlight">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center"><img src="../static/assets/images/landing/layouts.png"
                                                       alt="Boooya - Revolution Admin Template" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="feature margin-top-50 text-right">
                        <div class="above-heading">The Best Among Our Courses</div>
                        <h4 class="text-uppercase">软件工程需求</h4>
                        <div class="under-heading">上课教师:邢卫</div>
                        <p>
                            本课程的主要任务是在软件工程整体知识的基础上，深入学习并实践软件需求获取与管理的原理、方法和过程，学习并掌握
                            使用UML工具对软件需求进行分析、表达与系统设计。通过本课程的学习，应使学生掌握如何在软件工程的实践中完成复杂
                            软件需求的获取、表达和维护能力，学会应用UML进行软件需求分析与设计的技术和方法，为掌握软件工程的系统全面的知
                            识和技能打下坚实基础。</p>
                        <p><a href="index.html" class="btn btn-danger btn-lg btn-shadowed">查看具体课程介绍</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="feature margin-top-50">
                        <div class="above-heading">The Best Among Our Courses</div>
                        <h4 class="text-uppercase">软件质量保证与测试</h4>
                        <div class="under-heading">上课教师：胡兰青</div>
                        <p>
                            本课程按软件测试的原理、技术和实践三部分组织内容，包括如何组织和管理软件测试项目、如何进行软件质量分析，最终建立全面的质量保证体系。
                            通过本课程的学习，学生将了解并掌握有效的测试策略、方法和技术，测试计划和测试用例的设计，测试自动化的引入、应用，
                            测试团队的建立和测试项目的管理，更清楚、准确地报告测试缺陷，对软件产品质量的正确评估，软件测试和质量保证的关系和区别。</p>
                        <p><a href="index.html" class="btn btn-danger btn-lg btn-shadowed">Preview Template</a></p>
                    </div>
                </div>
                <div class="col-md-6 text-center hidden-mobile"><img
                        src="../static/assets/images/landing/responsive.png"
                        class="dont-resize"
                        alt="Boooya - Best Online Learning Website"></div>
            </div>
        </div>
    </section>
    <section class="section section-highlight">
        <div class="container">
            <div class="heading-wrapper text-center">
                <div class="above-heading">Something extra and unique</div>
                <h3 class="text-uppercase">Awesome features only in Boooya</h3>
                <div class="under-heading">We develope unique plugins and scripts</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="feature text-center">
                        <div class="feature-icon feature-icon-sm text-orange-400"><span class="icon-picture"></span>
                        </div>
                        <h6 class="text-uppercase text-bolder">金波</h6>
                        <div class="under-heading">浙江大学计算机学院</div>
                        <p>长期从事计算机及网络、智慧城市、智慧政务、智慧旅游、智能建筑等方向等应用研究和技术推广，对旅游业信息化实施、
                            智慧政务建设特别是“最多跑一次”、智能建筑系统推广等，作出了长期的贡献.
                        </p></div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center">
                        <div class="feature-icon feature-icon-sm text-lime-400"><span class="icon-bullhorn"></span>
                        </div>
                        <h6 class="text-uppercase text-bolder">林海</h6>
                        <div class="under-heading">浙江大学计算机学院</div>
                        <p>从事计算机图形学、科学计算可视化、虚拟现实等方面的研究，承担国家自然科学基金项目三项，国家863科技计划项目二
                            项，军工项目多项。目前的研究工作具体主要在：高分辨率多屏拼接显示技术;体数据可视化算法研究;医学数据可视化;基
                            于CPU/GPU混合集群的大规模体数据可视化;基于图形加速的计算电磁学等方面.</p></div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center">
                        <div class="feature-icon feature-icon-sm text-blue-400"><span class="icon-sync"></span></div>
                        <h6 class="text-uppercase text-bolder">邢卫</h6>
                        <div class="under-heading">It's easy to show app status</div>
                        <p>邢卫，浙江大学计算机科学与技术学院计算机系主任，博士，副教授；硕士生导师，博士生联合导师。长期从事操作系统、
                            计算机网络、软件工程等专业核心课程的教学，并主持计算机系专业培养方案的制定，承担计算机系教学管理工作等。主要
                            研究领域包括人工智能、计算机网络和多媒体技术。</p></div>
                </div>
            </div>
            <div class="row margin-top-50">
                <div class="col-md-4">
                    <div class="feature text-center">
                        <div class="feature-icon feature-icon-sm text-purple-400"><span class="icon-flag"></span></div>
                        <h6 class="text-uppercase text-bolder">吴朝晖</h6>
                        <div class="under-heading">浙江大学计算机学院</div>
                        <p>主要从事计算机领域研究。在服务计算方面，提出了复杂服务计算理论模型与方法，主持研制了复杂服务计算支撑平台，产
                            生了重大经济与社会效益。在脑机融合的混合智能（Cyborg Intelligence）方面，提出了混合智能体系结构及脑在回路
                            的信息处理模型；发明了多种脑机间智能交互、融合增强的技术方法，主持构建了听视觉增强的大鼠机器人等原型系统。</p></div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center">
                        <div class="feature-icon feature-icon-sm text-pink-400"><span class="icon-rocket"></span></div>
                        <h6 class="text-uppercase text-bolder">潘云鹤</h6>
                        <div class="under-heading">浙江大学计算机学院</div>
                        <p>潘云鹤是中国智能CAD和计算机美术领域的开拓者之一。他长期从事人工智能、计算机图形学、CAD和工业设计的研究，在计
                            算机美术、智能CAD、计算机辅助产品创新、虚拟现实和数字文物保护、数字图书馆、智能城市和知识中心等领域，承担过
                            多个重要科研课题，创新性地提出跨媒体智能、数据海、智能图书馆、人工智能2.0等概念，发表多篇研究论文。</p></div>
                </div>
                <div class="col-md-4">
                    <div class="feature text-center">
                        <div class="feature-icon feature-icon-sm text-maroon-400"><span class="icon-hourglass"></span>
                        </div>
                        <h6 class="text-uppercase text-bolder">何钦铭</h6>
                        <div class="under-heading">浙江大学计算机学院</div>
                        <p>浙江大学计算机学院教授，博士生导师，系统结构与网络安全研究所所长。国家万人计划教学名师、浙江大学求是特聘学者
                            ；教育部高等学校大学计算机课程教学指导委员会副主任，全国高校计算机基础教育研究会副理事长，中国人工智能学会机
                            器学习专委会常务理事，浙江省高校计算机类专业教学指导委员会主任。</p></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="pricing">
        <div class="container">
            <div class="heading-wrapper text-center">
                <div class="above-heading">Our purposal for you</div>
                <h3 class="text-uppercase">Pricing plans</h3>
                <div class="under-heading">This is landing page and this prices is just example</div>
            </div>
            <div class="row pricing-tables pricing-tables-condensed">
                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="title">Simple</div>
                        <div class="price">$16</div>
                        <div class="subtitle">per month</div>
                        <div class="divider"></div>
                        <div class="features">
                            <div class="line"><span class="fa fa-check"></span> 1 manager</div>
                            <div class="line"><span class="fa fa-times"></span> <s>Unlimited traffic</s></div>
                            <div class="line"><span class="fa fa-check"></span> 10 customers</div>
                            <div class="line"><span class="fa fa-check"></span> 2Gb Diskspace</div>
                            <div class="line"><span class="fa fa-times"></span> <s>Free anti-virus</s></div>
                        </div>
                        <div class="divider"></div>
                        <div class="button-holder">
                            <button class="btn btn-info btn-shadowed">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="title">Extended</div>
                        <div class="price">$24</div>
                        <div class="subtitle">per month</div>
                        <div class="divider"></div>
                        <div class="features">
                            <div class="line"><span class="fa fa-check"></span> 3 managers</div>
                            <div class="line"><span class="fa fa-check"></span> Unlimited traffic</div>
                            <div class="line"><span class="fa fa-check"></span> 25 customers</div>
                            <div class="line"><span class="fa fa-check"></span> 8Gb Diskspace</div>
                            <div class="line"><span class="fa fa-times"></span> <s>Free anti-virus</s></div>
                        </div>
                        <div class="divider"></div>
                        <div class="button-holder">
                            <button class="btn btn-info btn-shadowed">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-table featured">
                        <div class="title">Premium</div>
                        <div class="price">$69</div>
                        <div class="subtitle">per month</div>
                        <div class="divider"></div>
                        <div class="features">
                            <div class="line"><span class="fa fa-check"></span> Unlimited managers</div>
                            <div class="line"><span class="fa fa-check"></span> Unlimited traffic</div>
                            <div class="line"><span class="fa fa-check"></span> Unlimited customers</div>
                            <div class="line"><span class="fa fa-check"></span> 120Gb Diskspace</div>
                            <div class="line"><span class="fa fa-check"></span> Free anti-virus</div>
                        </div>
                        <div class="divider"></div>
                        <div class="button-holder">
                            <button class="btn btn-danger btn-shadowed">Sign Up</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-table">
                        <div class="title">Business</div>
                        <div class="price">$36</div>
                        <div class="subtitle">per month</div>
                        <div class="divider"></div>
                        <div class="features">
                            <div class="line"><span class="fa fa-check"></span> 10 managers</div>
                            <div class="line"><span class="fa fa-check"></span> Unlimited traffic</div>
                            <div class="line"><span class="fa fa-check"></span> 50 customers</div>
                            <div class="line"><span class="fa fa-check"></span> 16Gb Diskspace</div>
                            <div class="line"><span class="fa fa-check"></span> Free anti-virus</div>
                        </div>
                        <div class="divider"></div>
                        <div class="button-holder">
                            <button class="btn btn-info btn-shadowed">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-highlight" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="feature feature-icon-offset">
                        <div class="feature-icon text-darkblue-500"><span class="fa fa-paper-plane-o"></span></div>
                        <div class="heading-wrapper"><h6 class="text-uppercase text-bolder">Contact Us</h6>
                            <div class="under-heading">Let us know if you have questionr or suggestions</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6"><input type="text" class="form-control" name="name"
                                                         placeholder="Your name"></div>
                            <div class="col-md-6"><input type="text" class="form-control" name="email"
                                                         placeholder="Your email"></div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-12"><textarea class="form-control" name="text"
                                                             placeholder="Your message..." rows="5"></textarea></div>
                        </div>
                        <div class="row margin-top-20">
                            <div class="col-md-12">
                                <button class="btn btn-success btn-lg btn-shadowed">Send message</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1">
                    <div class="feature feature-icon-offset">
                        <div class="feature-icon text-orange-500"><span class="fa fa-life-ring"></span></div>
                        <div class="heading-wrapper"><h6 class="text-uppercase text-bolder">Best Support Ever</h6>
                            <div class="under-heading">Free support for all customers</div>
                        </div>
                    </div>
                    <p>We provide absolutely <span class="bold">free support</span> for our customers.</p>
                    <p>All <strong>updates</strong> of our template also absolutely <span class="bold">free</span>, and
                        can be downloaded from themeforest after release.</p>
                    <p>Also do not hesitate to <span class="bold">send your questions or suggestions</span>. We
                        appreciate your help, and we will do our best to make template better.</p>
                    <p class="text-right margin-top-20"><a href="#" class="btn btn-danger btn-lg btn-shadowed">Buy it
                        for only $24</a></p></div>
            </div>
        </div>
    </section><!-- START APP FOOTER -->
    <div class="app-footer app-footer-default" id="footer">
        <div class="container">
            <div class="app-footer-line extended">
                <div class="row">
                    <div class="col-md-3 col-sm-6"><h3 class="title"><img src="../static/img/logo-footer.png"
                                                                          alt="boooyah">
                        Boooya</h3>
                        <p>The innovation in admin template design. You will save hundred hours while working with our
                            template. That is based on latest technologies and understandable for all.</p>
                        <p><strong>How?</strong><br>This template included with thousand of best components.</p></div>
                    <div class="col-md-3 col-sm-6"><h3 class="title"><span class="icon-clipboard-text"></span> About Us
                    </h3>
                        <ul class="list-unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Why use us?</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6"><h3 class="title"><span class="icon-lifebuoy"></span> Need Help?</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-6"><h3 class="title"><span class="icon-thumbs-up"></span> Social Media
                    </h3><a href="#"
                            class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg"><i
                            class="fa fa-facebook"></i> </a><a href="#"
                                                               class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg"><i
                            class="fa fa-twitter"></i> </a><a href="#"
                                                              class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg"><i
                            class="fa fa-youtube"></i> </a><a href="#"
                                                              class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg"><i
                            class="fa fa-google-plus"></i> </a><a href="#"
                                                                  class="label-icon label-icon-footer label-icon-bordered label-icon-rounded label-icon-lg"><i
                            class="fa fa-feed"></i></a>
                        <h3 class="title"><span class="icon-paper-plane"></span> Subscribe</h3>
                        <div class="input-group"><input type="text" class="form-control" placeholder="E-mail...">
                            <div class="input-group-btn">
                                <button class="btn btn-primary">GO</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-footer-line darken">
            <div class="copyright wide text-center">&copy; 2017 Boooya. All right reserved in the Ukraine and other
                countries. <a href="http://www.dmaku.com/moban.html" target="_blank" title="后台模板">后台模板</a></div>
        </div>
    </div><!-- END APP FOOTER --></div><!-- END APP WRAPPER --><!-- START SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="../static/js/vendor/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/app_landing.js"></script><!-- END SCRIPTS --></body>
</html>