{% extends "student_base.html" %}
{% block content %}
    <div class="block">
        <div class="app-heading app-heading-small">
            <div class="title"><h2>创建团队</h2>
                <p>Create Team
                    {% if message.get('info') %}
                        <code> Your Group ID is {{ message.get('info') }}</code>
                    {% endif %}</p>
            </div>
        </div>
        <form class="form-horizontal" method="POST" novalidate>
            <div class="form-group"><label class="col-md-2 control-label">选择课程名称</label>
                <p></p>
                <div class="col-md-10"><select class="form-control" name="course">
                    {% for message in message.get('messages') %}
                        <option>{{ message }}</option>
                    {% endfor %}
                </select><span class="help-block"></span></div>
            </div>
            <p></p>
            <div class="form-group"><label class="col-md-2 control-label">输入团队名称</label>
                <input type="text" class="form-control" name="name">
            </div>
            <p></p>
            <div class="form-group"><label class="col-md-2 control-label">输入课程人数</label>
                <input type="text" class="form-control" name="number">
            </div>
            <div class="form-group margin-top-20">
                <button class="btn btn-default" type="submit" name="choose" value="query">查询</button>
            </div>
        </form>
    </div>
{% endblock %}