<html>
<head>
    <title>教学管理系统 - 学生端</title>
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<!-- APP WRAPPER -->
<div class="app">
    <!-- START APP CONTAINER -->
    <div class="app-container">
        <!-- START SIDEBAR -->
        <div class="app-sidebar app-navigation app-navigation-fixed scroll app-navigation-style-default app-navigation-open-hover dir-left"
             data-type="close-other">
            <a class="app-navigation-logo">
                Boooya - Revolution Admin Template
            </a>
            <nav>
                <ul>
                    <li class="title">
                        INFORMATION
                    </li>
                    <li>
                        <a href={{ url_for("studentshowcourse") }}>
                            查看课程简介
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("studentshowteacher") }}>
                            查看教师介绍
                        </a>
                    </li>
                    <li class="title">
                        Notification
                    </li>
                    <li>

                    <li>
                        <a href={{ url_for("studentshowexperience") }}>
                            查看教师心得
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("studentseejournal") }}>
                            网站更新日志
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("studentdownloadchoose_course") }}>
                            下载资料
                        </a>
                    </li>

                    <li class="title">
                        Homework
                    </li>
                    <li>
                        <a href={{ url_for("studentuploadhomework") }}>
                            上传作业
                        </a>
                        <a href={{ url_for("studentchooseproblem") }}>
                            课后练习
                        </a>
                        <a href={{ url_for("studentshowhomeworks") }}>
                            查看课程作业
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("studentshowscore") }}>
                            查看课程分数
                        </a>
                    </li>
                    <li class="title">
                        Group
                    </li>
                    <li>
                        <a href={{ url_for("studentcreateteam") }}>
                            创建团队
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("studentshowmemberid") }}>
                            成员信息
                        </a>
                    </li>
                    <li>
                        <a href={{ url_for("studentjointeam") }}>
                            加入团队
                        </a>
                        <a href={{ url_for("studentshowteamid") }}>
                            查看团队ID
                        </a>
                        <a href={{ url_for("studentsharefile") }}>
                            分享文件
                        </a>
                        <a href={{ url_for("studentgetsharefile") }}>
                            获取分享的文件
                        </a>
                    </li>
                    <li class="title">
                        Help
                    </li>
                    <li>
                        <a href={{ url_for("studentshowteacher") }}>
                            帮助
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- END SIDEBAR -->
        <!-- START APP CONTENT -->
        <div class="app-content app-sidebar-left">
            <!-- START APP HEADER -->
            <div class="app-header app-header-design-default">
                <ul class="app-header-buttons">
                    <li class="visible-mobile">
                        <a href="#" class="btn btn-link btn-icon" data-sidebar-toggle=".app-sidebar.dir-left">
									<span class="icon-menu">
									</span>
                        </a>
                    </li>
                    <li class="hidden-mobile">
                        <a href="#" class="btn btn-link btn-icon" data-sidebar-minimize=".app-sidebar.dir-left">
									<span class="icon-menu">
									</span>
                        </a>
                    </li>
                </ul>
                <ul class="app-header-buttons pull-right">
                    <li>
                        <div class="contact contact-rounded contact-bordered contact-lg contact-ps-controls hidden-xs">
                            <img src="../static/assets/images/users/user_1.jpg" alt="John Doe">
                            <div class="contact-container">
                                Student
                                <span>
                                    {{ message.get('name') }}
                                </span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-default btn-icon btn-informer" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
										<span class="icon-alarm">
										</span>
                            </button>
                            <ul class="dropdown-menu dropdown-form dropdown-left dropdown-form-wide">
                                <li class="padding-0">
                                    <div class="app-heading title-only app-heading-bordered-bottom">
                                        <div class="icon">
													<span class="icon-text-align-left">
													</span>
                                        </div>
                                        <div class="title">
                                            <h2>
                                                Notifications
                                            </h2>
                                        </div>
                                        <div class="heading-elements">
                                            <a href="#" class="btn btn-default btn-icon">
														<span class="icon-sync">
														</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="app-timeline scroll app-timeline-simple text-sm" style="height: 240px">
                                        {% for msg in get_flashed_messages() %}
                                            {% if msg[0] == 0 %}
                                                <div class="app-timeline-item">
                                                    <div class="dot dot-primary"></div>
                                                    <div class="content">
                                                        <div class="title margin-bottom-0">
                                                            <a href="#">
                                                                Administor {{ msg[1] }}
                                                            </a>
                                                            <strong>
                                                                {{ msg[2] }}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif msg[0] == 1 %}
                                                <div class="app-timeline-item">
                                                    <div class="dot dot-danger"></div>
                                                    <div class="content">
                                                        <div class="title margin-bottom-0">
                                                            <a href="#">
                                                                Teacher {{ msg[1] }}
                                                            </a>
                                                            <strong>
                                                                {{ msg[2] }}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif msg[0] == 2 %}
                                                <div class="app-timeline-item">
                                                    <div class="dot dot-success"></div>
                                                    <div class="content">
                                                        <div class="title margin-bottom-0">
                                                            <a href="#">
                                                                Student {{ msg[1] }}
                                                            </a>
                                                            <strong>
                                                                {{ msg[2] }}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% elif msg[0] == 5 %}
                                                <div class="app-timeline-item">
                                                    <div class="dot dot-success"></div>
                                                    <div class="content">
                                                        <div class="title margin-bottom-0">
                                                            <a href="#">
                                                                Student {{ msg[1] }}
                                                            </a>
                                                            <strong>
                                                                {{ msg[2] }}
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </li>
                                <li class="padding-top-0">
                                    <button class="btn btn-block btn-link">
                                        Preview All
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href={{ url_for("logout") }} class="btn btn-default btn-icon">
                        <span class="icon-power-switch">
									</span>
                        </a>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END APP HEADER -->
            <!-- START PAGE HEADING -->
            {% block content %}{% endblock %}
            <!-- END APP CONTAINER -->
            <!-- START APP FOOTER -->
            <!-- END APP FOOTER -->
            <!-- START APP SIDEPANEL -->
            <!-- END APP SIDEPANEL -->
            <!-- APP OVERLAY -->
            <!-- END APP OVERLAY -->
        </div>
    </div>

</div>
<!-- END APP WRAPPER -->


<div class="modal fade" id="modal-thanks" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" class="icon-cross">
					</span>
        </button>
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-center margin-bottom-20">
                    <img src="../static/assets/images/smile.png" alt="Thank you" style="width: 100px">
                </p>
                <h3 id="modal-thanks-heading"
                    class="text-uppercase text-bold text-lg heading-line-below heading-line-below-short text-center">
                </h3>
                <p class="text-muted text-center margin-bottom-10">
                    Thank you so much for likes
                </p>
                <p class="text-muted text-center">
                    We will do our best to make
                    <br>
                    Boooya template perfect
                </p>
                <p class="text-center">
                    <button class="btn btn-success btn-clean" data-dismiss="modal">
                        Continue
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- IMPORTANT SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/jquery/jquery.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-migrate.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jquery/jquery-ui.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/bootstrap/bootstrap.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/moment/moment.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/customscrollbar/jquery.mCustomScrollbar.min.js">
</script>
<!-- END IMPORTANT SCRIPTS -->
<!-- THIS PAGE SCRIPTS -->
<script type="text/javascript" src="../static/js/vendor/bootstrap-datetimepicker/bootstrap-datetimepicker.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jvectormap/jquery-jvectormap.min.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jvectormap/jquery-jvectormap-world-mill-en.js">
</script>
<script type="text/javascript" src="../static/js/vendor/jvectormap/jquery-jvectormap-us-aea-en.js">
</script>
<script type="text/javascript" src="../static/js/vendor/rickshaw/d3.v3.js">
</script>
<script type="text/javascript" src="../static/js/vendor/rickshaw/rickshaw.min.js">
</script>
<!-- END THIS PAGE SCRIPTS -->
<!-- APP SCRIPTS -->
<script type="text/javascript" src="../static/js/app.js">
</script>
<script type="text/javascript" src="../static/js/app_plugins.js">
</script>
<script type="text/javascript" src="../static/js/app_demo.js">
</script>
<!-- END APP SCRIPTS -->
<script type="text/javascript" src="../static/js/app_demo_dashboard.js">
</script>
<script type="text/javascript">
    $(function () {
        $(".block-refresh-example").on("click",
            function () {
                var block = $(this).data("block");
                app.block.loading.start("#" + block);
                setTimeout(function () {
                        app.block.loading.finish("#" + block);
                    },
                    3000);
            });
    });
</script>
</body>
</html>
