{% extends "teacher_base.html" %}
{% block content %}
    <div class="block">
        <div class="app-heading app-heading-small">
            <div class="title"><h2>查看回家作业</h2>
                <p>See Homework</p>
            </div>
        </div>
        <table border="1" class="table-condensed">
            <tr>
                <td>课程名称</td>
                <td>作业序号</td>
                <td>作业标题</td>
                <td>截止时间</td>
                <td>作业发布</td>
                <td>是否允许逾期</td>
            </tr>
            {% for msgs in message.get('messages') %}
                <tr>
                    {% for msg in msgs %}
                        <td>{{ msg }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}